<div class="row">
  <div class="col-12 mt-2">
    <h2>User List</h2>
    <!-- Filter -->
    <div class="card">
      <div class="card-header card-header-info">
        <h5 class="card-title ">Keresés</h5>
        <div class="d-flex p-2 mb-1 filter__group">
          <input [(ngModel)]="phrase" class="form-control" type="text" placeholder="Keresés..." style="width: 200px;">
          <select [(ngModel)]="filterKey" class="form-control mr-3 filter__select px-3" style="width: 150px;">
            <option value="name">name</option>
            <option value="email">email</option>
            <option value="address">address</option>
            <option value="active">active</option>
          </select>
        </div>
      </div>
    </div>
    <!-- Filter end -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
          <th>Address</th>
          <th>Active</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users$ | async | filter:phrase:filterKey">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.address }}</td>
          <td>{{ user.active }}</td>
          <td>
            <div class="btn-group">
              <button [routerLink]="['user/' + user.id]" class="btn btn-info">
                <i class="fa fa-pencil"></i>
              </button>
              <button class="btn btn-danger" (click)="onDelete(user)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
